* {
     /*border: 1px solid red !important;
    /*background-color: rgb(232, 232, 232);*/
}

* {
    -box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
/*boostrap background color, but do not need the !important tag*/
body {
    background-color: rgb(232, 232, 232) !important;
    /*set width for the entire page here!!
    i.e.
	width:960px;
	width:90%;
	margin:0 auto; this centers the image or wrapper div
    */
}
.container {
    width: 100%;
    margin: 0px auto;

}
nav{
    background-color: white;
    height: 50px;
    margin-top: 10px;
    display: flex;
}
/*@media screen and (max-width: 959px){
    #container {
        width: 100%;
    }
} less than 959px will scale down..
this needs to be repeated with all 
tags and should be scaled based on their percentage in the container*/