* {
     /*border: 1px solid red !important;
    /*background-color: rgb(232, 232, 232);*/
}

* {
    -box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
/*boostrap background color, but do not need the !important tag*/
body {
    background-color: rgb(232, 232, 232) !important;
    /*set width for the entire page here!!
    i.e.
	width:960px;
	width:90%;
	margin:0 auto; this centers the image or wrapper div
    */
}
.container {
    width: 100%;
    margin: 0px auto;

}
.row {
    max-width:100%;
}
.mainRow {
    margin: 0px auto;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
nav{
    background-color: white;
    height: 50px;
    margin-top: 10px;
    display: flex;
}

/*gives each column a specific setting*/
.col-1{
    width: 8.333%;
}

.col-2{
    width: 16.666%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.333%;
}

.col-5{
    width: 41.666%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.333%;
}

.col-8{
    width: 66.666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.333%;
}

.col-11{
    width: 91.666%;
}

.col-12{
    width: 100%;
}
/*@media screen and (max-width: 959px){
    #container {
        width: 100%;
    }
} less than 959px will scale down..
this needs to be repeated with all 
tags and should be scaled based on their percentage in the container*/